* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  background: url('https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')
    no-repeat fixed center center/cover;
  margin: 0 auto;
  font-family: 'Raleway', sans-serif;
  --oxford-blue: #030027ff;
  --light-slate-gray: #648ca6ff;
  --gray-blue: #c9e2ef;
  --accent-pink: #f89dc0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: var(--accent-pink);
}

h1 {
  padding-bottom: 0.5em;
}

header {
  height: 100px;
  display: flex;
  position: sticky;
  top: 0;
  padding: 20px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(6px);
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

#menu {
  display: none;
}

#logo {
  font-family: 'JetBrains Mono', monospace;
  font-size: 1.2em;
  min-width: fit-content;
}

.logo-name {
  display: inline-block;
  margin-left: 5px;
}

.fa-user-astronaut {
  display: inline-block;
  font-size: 1.5em;
}

nav ul {
  text-align: right;
}

nav ul li {
  display: inline-block;
  margin-right: 0.5em;
}

/* Hero banner */
.hero-banner {
  margin-top: 100px;
  height: 80vh;
  background: url('https://images.unsplash.com/photo-1454789548928-9efd52dc4031?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1480&q=80')
    no-repeat fixed center center/cover;
}

.welcome {
  color: #fff;
  position: absolute;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: lighter;
  line-height: 1.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Overlay */
.overlay-selector.hero-banner:before {
  content: '';
  height: 80vh;
  background-color: rgba(1, 0, 20, 0.3);
  backdrop-filter: blur(3px);
  display: block;
}

main {
  background-color: #fff;
}

section {
  padding: 1em;
}

/* Heading decoartions */
h1::after {
  content: '';
  display: inline-block;
  border-top: 3px solid;
  border-image: linear-gradient(to right, #648ca6ff, #f89dc0, transparent) 1;
  width: 70%;
  margin-left: 10px;
  height: 5px;
}

section:nth-child(even) {
  background-color: var(--gray-blue);
}

/* Projects */
.row {
  display: inline-block;
  width: fit-content;
}

.projects-wrapper {
  text-align: center;
  margin: 0 auto;
}

.project-parent {
  width: 300px;
  margin: 2rem;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.5);
}

.img-child {
  background-size: cover;
  transition: all 1.1s;
  height: 100%;
}

/* Zoom in on hover */
.project-parent:hover .img-child {
  transform: scale(1.2);
}

.img-content {
  background-color: red;
}

figcaption {
  font-style: italic;
}

/* About me */
#about {
  min-height: 330px;
}

.about img {
  height: 200px;
  width: 200px;
  object-fit: cover;
  margin: 1em;
  float: left;
  border-radius: 50%;
  shape-outside: circle();
}

.about p {
  text-align: left;
}

/* Skills */
/* @keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
} */

.skills {
  text-align: center;
}

.skill {
  display: inline-block;
  text-align: center;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 9em;
  height: 10rem;
  margin: 1rem;
}

.skill p {
  line-height: 2rem;
}

.fa-brands {
  font-size: 3em;
  padding: 0.5em;
  color: var(--light-slate-gray);
}

.progress_bar {
  overflow: hidden;
  display: inline-block;
  height: 1em;
  border: 1px solid lightgrey;
  border-radius: 5px;
  width: 7em;
}

.progress_bar .progress {
  animation: 2s ease-out 0s 1 slideInFromLeft;
  background-color: var(--accent-pink);
  border-bottom: 1px solid #c76a8d;
  border-right: 1px solid #c76a8d;
  border-top: 1px solid #ffc9de;
  border-left: 1px solid #ffc9de;
  height: 100%;
}

.php,
.js {
  width: 90%;
}

.css {
  width: 85%;
}

.react {
  width: 75%;
}

.sass,
.drupal,
.symfony,
.node {
  width: 50%;
}

/* Footer */
footer {
  background-color: #030027ff;
  text-align: center;
  color: var(--gray-blue);
  height: auto;
  margin: 0 auto;
}
footer a {
  color: #f89dc0;
}

footer fieldset {
  margin: 0 auto;
  border: none;
}
footer fieldset h3 {
  line-height: 2em;
}
footer fieldset label {
  display: inline-block;
  width: 8em;
  text-align: left;
}
footer fieldset input {
  display: inline-block;
  width: 30vw;
  border: transparent;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 10px;
}
footer fieldset textarea {
  width: 30vw;
  vertical-align: top;
  border-radius: 5px;
  padding: 0.5em;
  height: 100px;
  min-height: fit-content;
}

form {
  margin-bottom: 4em;
}

.btn-message {
  display: inline-block;
  padding: 1rem 1.5rem;
  background-color: var(--accent-pink);
  border: transparent;
  border-radius: 2em;
  color: white;
  text-transform: uppercase;
  margin: 2em auto;
}

.btn-message:hover {
  cursor: pointer;
}

.copyright {
  font-size: 0.8em;
}

p.copyright {
  color: var(--light-slate-gray);
}

.validation {
  margin: 10px;
}

/* Button up */
#go_up {
  position: fixed;
  display: none;
  bottom: 2em;
  right: 2em;
  padding: 1em;
  font-size: 1em;
  border: none;
  border-radius: 50%;
  color: white;
  background-color: #030027ff;
  font-family: inherit;
  cursor: pointer;
  z-index: 10;
}

/* GALLERY */
.container-gallery {
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-areas:
    'image1 image1 image2 image2 image3 image3'
    'image1 image1 image4 image4 image3 image3'
    'image1 image1 image4 image4 image3 image3'
    'image5 image6 image6 image6 image3 image3'
    'image7 image6 image6 image6 image9 image9'
    'image8 image6 image6 image6 image9 image9';
  grid-auto-rows: 1fr;
  gap: 1rem;
}

.images {
  min-height: 100px;
  color: transparent;
}

.image1 {
  grid-area: image1;
  background-color: aliceblue;

  background-image: url('https://images.unsplash.com/photo-1446941611757-91d2c3bd3d45?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1102&q=80');
  background-size: cover;
}

.image2 {
  grid-area: image2;
  background-color: aquamarine;

  background-image: url('https://images.unsplash.com/photo-1550537687-c91072c4792d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
  background-size: cover;
}

.image3 {
  grid-area: image3;
  background-color: bisque;

  background-image: url('https://images.unsplash.com/photo-1562676907-cf2155921949?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=776&q=80');
  background-size: cover;
}

.image4 {
  grid-area: image4;
  background-color: yellow;

  background-image: url('https://images.unsplash.com/photo-1608481337062-4093bf3ed404?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
  background-size: cover;
}

.image5 {
  grid-area: image5;
  background-color: red;

  background-image: url('https://images.unsplash.com/photo-1506905925346-21bda4d32df4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
}

.image6 {
  grid-area: image6;
  background-color: violet;

  background-image: url('https://images.unsplash.com/photo-1451187580459-43490279c0fa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1772&q=80');
  background-size: cover;
}

.image7 {
  grid-area: image7;
  background-color: green;

  background-image: url('https://images.unsplash.com/photo-1496450681664-3df85efbd29f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
}

.image8 {
  grid-area: image8;
  background-color: brown;

  background-image: url('https://images.unsplash.com/photo-1560803262-95a9de00a057?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=774&q=80');
  background-size: cover;
}

.image9 {
  grid-area: image9;
  background-color: blue;

  background-image: url('https://images.unsplash.com/photo-1457364887197-9150188c107b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80');
  background-size: cover;
}

/* Desktop screens design */
@media (min-width: 1440px) {
  body {
    width: 1200px;
  }
}

/* Tablets design */
@media (max-width: 768px) {
  body {
    max-width: 768px;
  }
}

/* Mobile phones design */
@media (max-width: 530px) {
  body {
    width: 100%;
  }

  .logo-name {
    display: none;
  }

  #logo {
    font-size: 1.5em;
  }

  /* Menu icon */
  #menu {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
  }

  #menu:hover {
    cursor: pointer;
  }

  nav ul {
    display: none;
  }

  nav.responsive ul {
    background-color: white;
    position: absolute;
    left: 0;
    top: 85px;
    height: 100vh;
    width: 100%;
    display: block;
  }

  nav.responsive ul li {
    display: block;
    margin-right: 0;
  }

  nav.responsive a {
    color: black;
    display: block;
    padding: 1em;
  }

  nav.responsive::after {
    width: 100%;
    height: 100px;
    background-color: white;
  }

  nav.responsive a:hover {
    background-color: var(--gray-blue);
  }

  /* Projects */

  .projects-wrapper .row {
    width: 100%;
  }

  .projects-wrapper {
    width: 100%;
  }

  .project-parent {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 95%;
    height: 300px;
    margin: 1rem auto;
  }

  .img-child {
    width: auto;
    height: 100%;
    background-color: slategrey;
  }

  /* Skills */
  .skills .row {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .skill {
    margin: 0.5rem;
  }

  /* Contacts */

  #contacts input,
  #contacts label,
  #contacts textarea {
    display: block;
    text-align: center;
    margin: 0.5em auto;
    width: 59vw;
  }

  /* GALLERY */
  .grid-container {
    gap: 0.1em;
  }
}
